@page {
	margin-top: 6pt;
	margin-bottom: 4pt;
	margin-left: 0;
	margin-right: 0;
}

body {
  background-color: #fff;
  color: #000;
  text-align: justify;
  font-kerning: normal;
  font-variant: common-ligatures lining-nums;
  -webkit-font-feature-settings: "kern", "liga", "clig", "lnum";
  font-feature-settings: "kern", "liga", "clig", "lnum";
}
p {
  margin-top: 0em;
  margin-bottom: 0em;
  text-indent: 1em;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
}
p.double {
  margin-top: 1em;
}
p.double2 {
  margin-top: 1em;
  margin-bottom: 1em;
}
p.noindent {
  text-indent: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}
.chapter-title {
  margin-top: 2em;
  margin-bottom: 2.5em;
}
.chapter-title h1 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 1em 0.5em;
}
.chapter-title h2 {
  margin: 0 1em;
  font-size: 1.4em;
  font-weight: normal;
  font-style: italic;
}
.center {
  text-align: center;
}
.break {
  text-indent: 0;
  text-align: center;
  margin: 1em 0;
}
img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
img.cutiemark {
  width: 10em;
  max-width: 60% !important;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
  display: block;
}
hr {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  height: 0;
  border: 0;
  border-bottom: 1px solid #999;
}
blockquote {
  margin: 10px 0px;
  padding: 20px;
  border: none;
  border-left: 5px solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.1);
  background: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}
:root[__ibooks_internal_theme*="Night"] blockquote {
  border-color: rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
  background: -webkit-linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1));
}
blockquote.left_insert,
blockquote.right_insert {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  width: 50%;
  box-shadow: 5px 5px 0px #eee;
}
:root[__ibooks_internal_theme*="Gray"] blockquote.left_insert,
:root[__ibooks_internal_theme*="Gray"] blockquote.right_insert {
  background-color: rgba(0,0,0,0.1);
  background: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  box-shadow: 5px 5px 0px #666;
}
:root[__ibooks_internal_theme*="Night"] blockquote.left_insert,
:root[__ibooks_internal_theme*="Night"] blockquote.right_insert {
  background-color: rgba(255,255,255,0.1);
  background: -webkit-linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1));
  box-shadow: none;
}
blockquote.left_insert {
  margin-right: 25px;
  float: left;
}
blockquote.right_insert {
  margin-left: 25px;
  float: right;
}
figure.youtube {
  margin: 1em auto;
  width: 60%;
  max-width: 640px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px;
}
figure.youtube img {
  display: block;
  width: 100%;
}
figure.youtube figcaption {
  line-height: 1em;
  text-align: left;
  padding: 3px;
}
figure.youtube figcaption a {
  font-style: italic;
  font-size: 0.75em;
}
.leftalign {
  text-align: left;
}
#author_notes {
  clear: both;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 1.7em;
  padding: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #eee;
  color: #555;
}
:root[__ibooks_internal_theme*="Gray"] #author_notes,
:root[__ibooks_internal_theme*="Night"] #author_notes {
  border-color: #333;
  background-color: #1a1a1a;
  background: -webkit-linear-gradient(#1a1a1a, #1a1a1a);
}
a.chaptercomments {
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #fff;
  -webkit-text-fill-color: #fff;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 0.9em;
  text-shadow: -1px -1px #699739;
  box-shadow: 0px 1px #81b945 inset;
  border-radius: 3px;
  border: 1px solid #699739;
  border-bottom-color: #638f36;
  border-top-color: #6fa03c;
  outline: none;
  background-color: #7bb042;
  background: -webkit-linear-gradient(#7bb042, #7bb042);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bb042), color-stop(100%, #6fa03c));
  background: -webkit-linear-gradient(top, #7bb042 0%, #6fa03c 100%);
  background: linear-gradient(to bottom, #7bb042 0%, #6fa03c 100%);
}
#toc h3 {
  font-weight: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5em;
}
#toc ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#toc ol ol {
  margin-bottom: 1em;
  margin-left: 1em;
}
#toc > ol > li > span {
  font-weight: bold;
}
#toc ol li a {
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}
#toc [hidden] {
  display: none;
}
