.title {
  margin: 1em 0;
  text-align: left;
  vertical-align: middle;
}
.title .story_name,
.title .author {
  text-align: center;
}
.title .story_name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 2em 0;
}
.title .author {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 3em;
}

#description {
  font-style: italic;
}
#copyrightpage p {
  text-align: center;
}